@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-groot {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    height: 400px;
    width: auto;
}

.logo-klein {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    height: 250px;
    width: auto;
}

.logo-dashboard {
    margin: 15px auto 0;
    display: flex;
    justify-content: center;
    height: 100px;
    width: auto;
}